
/* 
                                                                       o8o                        
                                                                       `"'                        
oooo d8b  .ooooo.   .oooo.o oo.ooooo.   .ooooo.  ooo. .oo.    .oooo.o oooo  oooo    ooo  .ooooo.  
`888""8P d88' `88b d88(  "8  888' `88b d88' `88b `888P"Y88b  d88(  "8 `888   `88.  .8'  d88' `88b 
 888     888ooo888 `"Y88b.   888   888 888   888  888   888  `"Y88b.   888    `88..8'   888   888 
 888     888    .o o.  )88b  888   888 888   888  888   888  o.  )88b  888     `888'    888   888 
d888b    `Y8bod8P' 8""888P'  888bod8P' `Y8bod8P' o888o o888o 8""888P' o888o     `8'     `Y8bod8P' 
                             888                                                                  
                            o888o                                                                 
                                                                                                  

*/

@media only screen and (min-width: 788px) and (max-width: 979px) {
    .qualidade:after {
       right: 66px;
    }

    .qualidade_lista li {
        padding: 0 10px;
    }

    .footer_redes ul li a {
        padding: 6px;
    }

    .footer_redes ul li a img {
        width: 26px;
        height: 26px;
    }

    .produto_item h2 {
        top: -150px;
    }

    .produto_icone {
        padding: 41px 0;
    }

    .produto_info p {
        font-size: 14px;
        line-height: 20px;
        padding: 20px 30px;
        height: 123.5px;
    }

    .produto_info ul li {
        width: 181px;
    }
}

@media only screen and (max-width: 787px) {

    .header_menu ul li a.menu_ativo {
        border-color: var(--branco);
    }

        /* 
    oooo                                  .o8                     
    `888                                 "888                     
     888 .oo.    .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b 
     888P"Y88b  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P 
     888   888  888ooo888  .oP"888  888   888  888ooo888  888     
     888   888  888    .o d8(  888  888   888  888    .o  888     
    o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b    
    */

    .header {
        position: relative;
        padding-bottom: 0;
    }

    .header img {
        margin: 0 auto 10px auto;
    }

    .header_menu {
        text-align: center;
    }

    .header_menu ul li {
        margin: 5px;
    }

    .header_menu ul li a {
        border: 4px solid var(--preto);
        width: 136px;
        display: block;
        float: left;
    }

    .header_menu ul li a:hover {
        border-color: var(--branco);
    }

    /* 
    oooo                                              
    `888                                              
     888 .oo.    .ooooo.  ooo. .oo.  .oo.    .ooooo.  
     888P"Y88b  d88' `88b `888P"Y88bP"Y88b  d88' `88b 
     888   888  888   888  888   888   888  888ooo888 
     888   888  888   888  888   888   888  888    .o 
    o888o o888o `Y8bod8P' o888o o888o o888o `Y8bod8P'                                        
   */

   .introducao {
       margin-top: 0px;
       padding-top: 50px;
       background: url("../img/bg-mobile.jpg") no-repeat center;
       background-size: cover;
   }

   .introducao h1 {
       font-size: 36px;
   }

    .call {
        padding: 10px;
    }

    .produtos_lista li {
        padding-bottom: 10px;
    }

    .qualidade:after {
        display: none;
     }

     .qualidade_lista li {
        padding-bottom: 10px;
    }

    /* 
                       .o8                          
                      "888                          
    .oooo.o  .ooooo.   888oooo.  oooo d8b  .ooooo.  
    d88(  "8 d88' `88b  d88' `88b `888""8P d88' `88b 
    `"Y88b.  888   888  888   888  888     888ooo888 
    o.  )88b 888   888  888   888  888     888    .o 
    8""888P' `Y8bod8P'  `Y8bod8P' d888b    `Y8bod8P' 
    */

    .interna_sobre {
        margin-top: 0px;
    }

    .subtitulo_interno:nth-last-child() {
        padding-top: 10px;
    }

    .missao_sobre p {
        padding-right: 0px;
        font-size: 14px;
        line-height: 20px;
    }

    .missao_sobre ul li {
        font-size: 14px;
        line-height: 25px;
    }


    /* 
                                        .o8                  .                      
                                       "888                .o8                      
    oo.ooooo.  oooo d8b  .ooooo.   .oooo888  oooo  oooo  .o888oo  .ooooo.   .oooo.o 
     888' `88b `888""8P d88' `88b d88' `888  `888  `888    888   d88' `88b d88(  "8 
     888   888  888     888   888 888   888   888   888    888   888   888 `"Y88b.  
     888   888  888     888   888 888   888   888   888    888 . 888   888 o.  )88b 
     888bod8P' d888b    `Y8bod8P' `Y8bod88P"  `V88V"V8P'   "888" `Y8bod8P' 8""888P' 
     888                                                                            
    o888o                                                                                                                                       
    */

    .interna_produtos {
        margin-top: 0px;
    }

    .produto_item h2 {
        top: -100px;
        margin-bottom: -68px;
    }

    .produto_icone {
        padding: 41px 0;
    }

    .produto_info p {
        font-size: 14px;
        line-height: 20px;
        padding: 20px 30px;
        height: auto;
    }

    .produto_info ul li {
        width: 149px;
        height: 49px;
        font-size: 14px;
        line-height: 20px;
        padding-top: 14px;
    }

    form {
        padding: 0px;
    }

    .orcamento_dados ul {
        padding: 10px 0px 0px 0px;
    }

}