/* 
                                        oooo  
                                        `888  
 .oooooooo  .ooooo.  oooo d8b  .oooo.    888  
888' `88b  d88' `88b `888""8P `P  )88b   888  
888   888  888ooo888  888      .oP"888   888  
`88bod8P'  888    .o  888     d8(  888   888  
`8oooooo.  `Y8bod8P' d888b    `Y888""8o o888o 
d"     YD                                     
"Y88888P'                                     
*/

:root {
    --branco: #fff;
    --amarelo: #fec63e;
    --preto: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.subtitulo {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: .1em;
    color: var(--preto);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--preto);
    margin: 8px auto;
}

.btn {
    border: 3px solid var(--amarelo);
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--amarelo);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1em;
}

.btn:hover {
    color: var(--branco);
    border-color:var(--branco);
    transition: 0.3s;
}

.btn.btn_preto:hover {
    color: var(--preto);
    border-color:var(--preto);
    transition: 0.3s;
}


/* 
oooo                                  .o8                     
`888                                 "888                     
 888 .oo.    .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b 
 888P"Y88b  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P 
 888   888  888ooo888  .oP"888  888   888  888ooo888  888     
 888   888  888    .o d8(  888  888   888  888    .o  888     
o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b    
*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--amarelo);
    padding: 15px 0;
    z-index: 10;
}

.header_menu {
    text-align: right;

}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: var(--preto);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
} 

.header_menu ul li a:hover {
    color: var(--branco);
    transition: 0.1s;
} 

/* 
 o8o                  .                      
 `"'                .o8                      
oooo  ooo. .oo.   .o888oo oooo d8b  .ooooo.  
`888  `888P"Y88b    888   `888""8P d88' `88b 
 888   888   888    888    888     888   888 
 888   888   888    888 .  888     888   888 
o888o o888o o888o   "888" d888b    `Y8bod8P' 
*/

.introducao {
    width: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 96px;
    height: 380px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--branco);
    text-transform: uppercase;
}

.quote_externo {
    max-width: 320px;
    margin: 0 auto;
    color: var(--branco);
    margin-bottom: 40px;
}

.quote_externo p {
    font-style: italic;
}

.quote_externo p:before, .quote_externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--branco);
    margin: 14px auto 10px auto;
}

.quote_externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* 
                                    .o8                  .                      
                                   "888                .o8                      
oo.ooooo.  oooo d8b  .ooooo.   .oooo888  oooo  oooo  .o888oo  .ooooo.   .oooo.o 
 888' `88b `888""8P d88' `88b d88' `888  `888  `888    888   d88' `88b d88(  "8 
 888   888  888     888   888 888   888   888   888    888   888   888 `"Y88b.  
 888   888  888     888   888 888   888   888   888    888 . 888   888 o.  )88b 
 888bod8P' d888b    `Y8bod8P' `Y8bod88P"  `V88V"V8P'   "888" `Y8bod8P' 8""888P' 
 888                                                                            
*/

.produtos {
    padding: 60px 0;
}

.produtos_lista li {
    background: var(--amarelo);
    text-align: center;
}

.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-top: 20px;

}

.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--preto);
    margin: 2px auto;
}

.produtos_lista li p {
    margin: 10px 20px 20px 20px;
}

.produtos_icone {
    background: var(--preto);
    padding: 20px;
}

.call {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}