/* 
                                        oooo  
                                        `888  
 .oooooooo  .ooooo.  oooo d8b  .oooo.    888  
888' `88b  d88' `88b `888""8P `P  )88b   888  
888   888  888ooo888  888      .oP"888   888  
`88bod8P'  888    .o  888     d8(  888   888  
`8oooooo.  `Y8bod8P' d888b    `Y888""8o o888o 
d"     YD                                     
"Y88888P'                                     
*/

:root {
    --branco: #fff;
    --amarelo: #fec63e;
    --preto: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}


/* 
oooo                                  .o8                     
`888                                 "888                     
 888 .oo.    .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b 
 888P"Y88b  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P 
 888   888  888ooo888  .oP"888  888   888  888ooo888  888     
 888   888  888    .o d8(  888  888   888  888    .o  888     
o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b    
*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--amarelo);
    padding: 15px 0;
}

.header_menu {
    text-align: right;

}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: var(--preto);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
} 

.header_menu ul li a:hover {
    color: var(--branco);
    transition: 0.1s;
} 